{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="about-section">
        <div class="about-text">
            <h1>About Ceila!</h1>
            <!-- Page title -->
            <p>At Ceila, we believe in bringing the latest trends right to your doorstep. 
                Founded in 2023, we are so glad to offer high-quality products at affordable prices, ensuring every customer 
                finds something they love. With a wide range of products across various categories, we're committed to providing a 
                seamless shopping experience that keeps our customers coming back for more.</p>
            <!-- Company description -->
            <h2>Our Mission</h2>
            <p>We're committed to revolutionizing the way you shop for everything. 
                We believe that style shouldn't break the bank, and that every 
                person deserves to feel confident and beautiful.</p>
            <a href="products.html" class="btn">Explore Now</a>
        </div>
        <div class="about-image">
            <img src="static/images/Header.png" alt="About Us Image">
        </div>
    </div>
    
    

</div>
<!-- Start Testimonial -->
<div class="testimonial">
    <div class="small-container">
        <h2>Our Clients Reviews</h2>
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>The return policy was hassle-free. I appreciated the flexibility in returning items that didn't quite fit right.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="static/images/test1.png" alt="Emily Wilson">
                <h3>Emily Wilson</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>I've never been so satisfied with an online purchase! The quality of the product exceeded my expectations</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="static/images/test2.png" alt="Sarah Johnson">
                <h3>Sarah Johnson</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>This website offers such a wide selection of products at competitive prices. I'll definitely be back!</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="static/images/test3.png" alt="James Thompson">
                <h3>James Thompson</h3>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial -->

{% endblock content %}